html{
    font-family:"Montserrat",sans-serif;
    height: 100%;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

@keyframes pulse {
  0%  { box-shadow: 0 0 0 0 #fff; }
  50% { box-shadow: 0 0 0 12.5px rgba(255,255,255,0.5); transform: scale3d(1.2, 1.2, 1.2);}
  100% { box-shadow: 0 0 0 25px transparent; transform: scale3d(1, 1, 1);}
}

select, select:focus{
  -moz-appearance:  menulist;
  border-radius:    5px;
  outline-style:    none;
  border:           none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill{
  border: 2px solid grey;
  -webkit-text-fill-color: blue;
  font-weight: bolder;
  transition: background-color 500s ease-in-out 0s;
}

input:focus{
  outline:none;
  background-color: #021b2b;
  color:white;
}

input{ padding-left: 15px; outline: none; transition: 0.5s;}

input[type="radio"]{
  height: 20px;
  width: 20px;
}

h1,h2{ text-transform: uppercase; margin: 10px auto; text-align: center;}

button { outline: none; border:none;}

label { font-weight: normal; margin-bottom: 0; }

body {
  font-family:"Montserrat",sans-serif;
  /*background: #3999e84a;*/
  background: #b2fefa;
  background: -webkit-linear-gradient(to bottom, #536976, #292e49);
  background: linear-gradient(to bottom,#58c4f9 0%, #3a93a7 50%, #0b6788 100%);
  background: #e6ecf0;
  overflow:hidden;
  height: 100vh;
}


@media (min-width: 360px) and (max-width:740px){

    .namelabel{
        display:block;
        text-align:center;
        color: #4672a8;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        width:75%;
    }

    #login {
        width:100%;
        height:100px;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 24px;
        background: black;
        border-bottom: 2px solid #37373a;
    }

    #login-form {
        display:block;
        position: fixed;
        width:40vw;
        top: calc(50vh - (175px / 2));
        left: 30vw;
        font-size:24px;
        color:#fff;
        --inputc-title-color: #553772;
        --inputc-span-bg: #553772;
    }

    #login img{
        display:block;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius:100%;
        margin: auto;
    }

    .log-in{
      display: block;
      float: right;
      width: 100px;
      height: 40px;
      font-weight: bold;
      border: none;
      font-size: 16px;
      margin-top: 5vh;
      text-transform: uppercase;
      background: linear-gradient(to right,#007cc3,#00ffff);
      right: 0;
      box-shadow: 0px 9px 12px -5px rgba(11,11,11,.75);
    }

    .log-in:hover{
      animation: pulse 1s ease-in;
    }

    .li-input{
        font-size:14px;
        width:40vw;

    }

    nav.sidebar{
        font-size: 16px;
    }
}



@media (min-width: 741px){

    .namelabel{
        font-size:30px;
        line-height:0.9;
        color: #ccc;
        margin-left:5%;
        margin-top:2%;
        width:25%;
    }

    #login {
        width:100%;
        height:75px;
        position: fixed;
        top: 0;
        left: 0;
        background: black;
    }


    #login-form {
        width:40%;
        float:right;
        font-size:18px;
        margin-right: 2.5%;
    }

    #login-form c-input {
      width:40%;
      display: inline-block;
      --inputc-title-color: #ccc;
      --inputc-span-bg: #ccc;
    }

    #login img{
        vertical-align: top;
        display:inline-block;
        position: relative;
        width: 75px;
        height: 75px;
        border-radius:100%;
        margin-left:calc(20% - 75px);
    }


    .log-in{
        width: 6.25vw;
        height:5vh;
        display:inline-block;
        text-transform: uppercase;
        color: #2d3133;
        background: linear-gradient(to right,#2195d6,#00ffff);
        font-weight: bold;
        border: 1px #00ffe1 solid;
        margin-left: 1vw;
      }

      .log-in:hover{
        animation: pulse 1s linear;
      }
}



/*  FIN DE MEDIA LOGIN */

/*  INICIO DE HEADER TEMPLATE */
navbar-top {
    left:0;
    top:0;
    height: 10vh;
    width:100%;
    vertical-align: top;
    display:inline-block;
    position: relative;
    background-color: #021b2b;
    border-bottom: 1px solid white;
    box-shadow: 0 0 5px 0 white;
}

navbar-top button[role="toggle"]{
    display: inline-block;
    width: 5%;
    margin-left: 2.5%;
    background: transparent;
    border-radius: 100%;
    height: 80%;
    font-size: 5vh;
    margin-top: 1.2vh;
    color:white;
}

div.wrapper img {
    margin-top: 1.2vh;
    width: auto;
    height: 80%;
}

div.logout{
    display: inline-block;
    border: none;
    position:relative;
    background: transparent;
    float: right;
    height: 10vh;
    margin: 0;
    font-size: 3vh;
    color: white;
}

div.logout img{
  height: 8vh;
  width:  8vh;
  margin: calc(1.3vh - 2px) 5vh;
  border: white 2px solid;
  border-radius: 100%;
}

div.logout-form{
  position: absolute;
  background: #021b2b;
  transform: translateX(-7.5vw) translateY(0.5vh);
  width: 15vw;
  z-index: 9999;
  box-shadow: 3px 2px 3px 1px black;
}

div.logout-form::before {
    content: "";
    display: block;
    position: relative;
    width: 1vw;
    border-width: 5px 13px 0 13px;
    border-style: solid;
    border-color: #021b2b transparent transparent transparent;
    transform: rotateX(180deg);
    top: -5px;
    left: calc(100% - 52px);
}

div.logout-form ul {
  width: 100%;
  list-style: none;
  margin-bottom: 0px;
  font-size: medium;
  padding-left: 0px;
}

div.logout-form ul li{ padding: 1vh 0; width: 100%; }

div.logout-form ul li a:hover {
  background: #6ab6d4;
  font-size: large;
}

div.logout-form ul li a { padding: 2px 2vw; color: white; width: 100%; display: block;}

navbar-top div.wrapper {
    width:5%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 40%;
}

.li-input{
    height:30px;
    outline:none;
    border-radius:5px;
    border:grey 2px solid;
    color:#000;
}

.mask {
	position: absolute;
	z-index:-1;
	top: 0;left:0;
	width: 100%;
    height: 100%;
	background-color: rgba(10, 10, 10, 0.6);
}

a, a:active, a:focus, a:hover {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
/* absolute position */
.inner-addon { position:relative;}
/* style icon */
.inner-addon .fa {position: absolute;padding:10px;pointer-events: none;}
/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.form-control:focus{ background:#C8D6CA;box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(7, 7, 8);}
label.formlabel{display:block;}
/* remove outer padding */
#main{
    padding: 0px;
    margin: 0px;
    height: 90vh;
    position: relative;
    width: 100vw;
}

/*gives sidebar width/height*/
nav.sidebar {
    max-width: 250px;
    width:250px;
    height: 90vh;
    background-color:#021b2b;
    float: left;
    margin-bottom: 0px;
    margin-left:-250px;
    overflow: auto;
    font-size: 24px;
    box-shadow: 5px 0px 20px -5px #89ccda;
}

nav.sidebar ul{
    list-style: none;
    font-size:24px;
    padding-left: 0px;
}

nav.sidebar ul li {
    padding-bottom: 1vh;
    text-indent: 1px;
    padding: 5px 10px;
    margin: 5px;
    transition: .25s ease-in-out;
}

nav.sidebar > ul > li.divisor {
  width:100%;
  padding:0;
  margin:0;
  background:rgba(255,255,255,.25);
  height:1px
}
nav.sidebar > ul > li.divisor:hover{ background:rgba(255,255,255,.25);}

nav.sidebar ul li a {
    color:#E9DCCD;
    padding-left: 0.5vh;
}

.fa.pull-right{
    margin-top: 0.25em;
    margin-right: 0.5em;
}

nav.sidebar ul li a span {
    font-size: 22px;
    padding-top: 0.5vh;
    padding-right: 0.25vh;
}

nav.sidebar ul li:hover{
    padding:0.5vh;
    background: #36384C;
    /* For browsers that do not support gradients */
    background: linear-gradient(to left,#21ffeb 0%,#3a99ad 50%,#0e99b7 100%);
    font-size:26px;
    border-radius: 20px;
    padding: 5px 10px;
}

nav.sidebar, #main{
    -webkit-transition: margin 0.15s ease-in-out;
    -moz-transition: margin 0.15s ease-in-out;
    -o-transition: margin 0.15s ease-in-out;
    transition: margin 0.15s ease-in-out;
}

/*  INVENTARIO */
.btn-options{
  display: flex;
  align-items: center;
  justify-content: center;
}


button.add-button {
    font-size:24px;
    margin:5px auto;
    border-radius: 5px;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn {
    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(225,225,225,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(225, 225, 255,0.75);
}

/*  Tooltip tests   */
[ttip]{
  position:relative;
}

[ttip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #0a0a0a transparent transparent transparent;
    z-index: 100;
}

[ttip]::after {
    content: attr(ttip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: #0a0a0a;
    text-align: center;
    color: #fff;
    padding:5px;
    font-size: 16px;
    min-width: 250px;
    border-radius: 2.5px;
    pointer-events: none;
}

[ttip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg);
  border-color: #35c0c8 transparent transparent transparent;
  opacity: 0;
}

[ttip-position='top']::before{
  left:50%;
}
[ttip-position='bottom']::before{
  top:100%;
  margin-top:15px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
  border-color: #AD4548 transparent transparent transparent;
}
[ttip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg);
  opacity: 0;
}
[ttip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%) translateY(-50%);
  background: #35c0c8;
  color: #021c2b;
  opacity: 0;
}
[ttip-position='top']::after{
  left:50%;
}
[ttip-position='bottom']::after{
  top:100%;
  margin-top:15px;
  font-size: 20px;
  transform: translateX(-50%) translateY(0%);
  background-color: #ad4545;
  z-index: 10;
}

[ttip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
  opacity: 0;
}

[ttip-position='left']:hover::after,[ttip-position='left']:hover::before {
   opacity:1;
}

[ttip-position='right']:hover::after,[ttip-position='right']:hover::before {
   opacity:1;
}

.left-menu-btn.active::after{
  background: #4286f4;
  font-size: large;
}
.left-menu-btn.active::before{
  border-color: #4286f4 transparent transparent transparent;
}
/* MODAL */
.error-p, span > input.error-p{
  border: #a51606 2px solid;
  background: #fcb3ab;
  color: red;
}

.lab-info{
  --selc-title-color: #021B2B;
  --inputc-title-color: #021B2B;
  margin-bottom: 20px;
}

.modal {
    display: block;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.95) 0%, rgba(101, 110, 113, 0.9) 50%, #000 90%);
}

.modal-dialog{
    max-height: calc(100% - 100px);
    position: fixed;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.modal-content {
    border: none;
    border-radius: 5px;
    background: transparent;
}

.modal-content div.radiogroup{
  background-color: #9db3ae;
}

.yes-button,.no-button,.rounded-btn{
    border-radius:100%;
    background-color: rgba(21, 175, 155, 0.90);
    color:#fff;
    width: 55px;
    height: 55px;
    margin: 10px 0 0 5px;
    font-size: 4vh;
    border-bottom: 2px solid #616060;
}

.abono-info .rounded-btn{
  width: 26px;
  height: 26px;
  font-size: 2vh;
  position: absolute;
  border: none;
  margin: 0;
  right: 29%;
}

.abono-info .rounded-btn:hover{
  animation: pulse .5s;
  background: #ff3f3f;
}

span.cancelado {
  color: red;
  padding-top: 2.5px;
  position: absolute;
  font-size: initial;
  right: 30%;
}

.abono-info label { height: 30px; padding: 2.5px 0; }

.abono-info > div { padding: 2.5px 0; height: 35px; position: relative;}

.yes-button.squared,.no-button.squared{
  width: 150px;
  border-radius: 0;
  background: #3aa1bd;
  font-size: 3vh;
  border-bottom: none;
  box-shadow: 0px 8px 10px -4px #616060;
}

button.squared:hover{width: 160px; font-size: 4vh;}

.yes-button:hover,.no-button:hover{
  box-shadow: 0px 0px 10px 0px #007dd6;
  width: 62.5px;
  height: 62.5px;
  font-size: 5vh;
  background: rgba(66, 241, 218, 0.91);
  border-bottom: none;
}

.modal-header{
    color:#fff;
    background: #021b2b;
    border-radius: 5px 5px 0 0;
}

.modal-title {
  font-size: 3vh;
  font-weight: 500;
}

.modal-body{
    border-radius: 0 0 5px 5px;
    background: #e6ecf0;
    min-height: 15vh;
}

.modal-body p {
  font-size: 2vh;
  font-weight: bold;
  color: #022021;
}

.modal-body p.last {
  font-size: 1.5vh;
  color:#021b1c;
}

.client-items{
  padding: 0;
  margin: 0;
  max-height: 30vh;
  overflow: auto;
}

.client-items div.radiogroup{
  border-radius: 0;
  padding: 5px;
}

.modal-data-form {
  padding: 0;
  margin: 0;
  max-height: 50vh;
  overflow: auto;
}

.modal-data-form .linear{
  background: black;
  height: 1px;
}

.modal-data-form h1 {
  color:#0c5765;
}

.form-label > div > label:nth-child(even){
  font-size: 2vh;
  padding-left: 1vw;
  color: black;
  float: left;
  display: inline-block;
  text-align: left;
  padding-top: 5px;
}

.legend{
  font-size: 2vh;
  color:var(--legend-color,black);
  font-weight: normal;
  margin-bottom: 0;
}

.form-label > div > label:nth-child(odd){
  font-size: 3vh;
  color: #3aa1be;
  display: block;
  float: left;
  width: 49%;
  text-align: right;
}

.form-label > div::after {
    display: block;
    content: "";
    clear: both;
}

/* fin del modal */
.menu-bar {
  width: 100vw;
  height: 6vh;
  max-width: 80vw;
  margin: 2.5vh auto;
}

.menu-bar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  width: 100vw;
  height: 79vh;
}

.top-lvl-dd {
  width: inherit;
  height: inherit;
}

.top-lvl-dd > li {
    position:   relative;
    float:      left;
    padding:    0;
    margin:     0;
    background: #fff;
    display:    inline-flex;
    height:     inherit;
    z-index:    3;
    margin-right: 5px;
}

.top-lvl-dd > li:first-child:nth-last-child(5),
.top-lvl-dd > li:first-child:nth-last-child(5) ~ li{
  min-width:  calc(((100 / 5) * 1%) - 5px);
  width:      calc(((100 / 5) * 1%) - 5px);
}

.top-lvl-dd > li:first-child:nth-last-child(4),
.top-lvl-dd > li:first-child:nth-last-child(4) ~ li{
  min-width:  calc(((100 / 4) * 1%) - 5px);
  width:      calc(((100 / 4) * 1%) - 5px);
}

.top-lvl-dd > li:first-child:nth-last-child(3),
.top-lvl-dd > li:first-child:nth-last-child(3) ~ li{
  min-width:  calc(((100 / 3) * 1%) - 5px);
  width:      calc(((100 / 3) * 1%) - 5px);
}

.top-lvl-dd > li:first-child:nth-last-child(2),
.top-lvl-dd > li:first-child:nth-last-child(2) ~ li{
  min-width:  calc(((100 / 2) * 1%) - 5px);
  width:      calc(((100 / 2) * 1%) - 5px);
}

ul.top-lvl-dd > li:hover > a, ul.first-lvl-dd > li:hover button, ul.first-lvl-dd > li:hover a,
ul.second-lvl-dd > li:hover button, ul.top-lvl-dd > li:hover > button
{
    background: #021b2b;
    color: white !important;
    transition: 1s;
}

.close{
  font-size: 36px;
  float: right;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:hover{ color:#fff; text-shadow: 0 2px 0 #000; }

.top-lvl-dd > li  a, .top-lvl-dd > li  button{
  cursor:       pointer;
  height:       inherit;
  display:      block;
  width:        100%;
  color:        #ffffff;
  background:   #8d97c1;
  padding:      0;
  margin:       0;
  text-align:   center;
  font-size:    3vh;
  font-weight:  normal;
  padding-top:  1vh;
}


.top-lvl-dd > li:hover::after{
  content: ' ';
  width: 100%;
  display: block;
  position: absolute;
  border-top: solid 1vh #4788bb;
  top: -1vh;
}

.first-lvl-dd {
    opacity:      0;
    visibility:   hidden;
    position:     absolute;
    top:          6vh;
    width:        100%;
    z-index:      1;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.native-grid{
  display: grid;
  grid-gap: 5px;
  width: calc(96vw + 5px);
  height: calc(74vh + 5px);
  grid-template-rows: 37vh 37vh;
  grid-template-columns: 48vw 48vw;
  margin: auto;
}

.sub-item-grid{
  overflow: hidden;
  justify-self: center;
  background:white;
  width: 100%;
  height: 100%;
  position: relative;
}

.sub-item-grid c-form > form > *:not(h1):not(hr) { filter: blur(10px);}
.sub-item-grid.selected c-form > form > *:not(h1):not(hr) {filter: none;}
.overflow-cform{ overflow-y:auto; width:70vw; padding:5px 20px 5px 5px; height:100%; }
.grid-box-info {
  position: absolute;
  margin-left: -90%;
  background: #021c2b;
  color: antiquewhite;
  width: 100%;
  height: 100%;
  transition: margin-left 250ms linear;
  padding: 0 10%;
  text-align: center;
  z-index: 2;
  border-right: 2px white solid;
}
.grid-box-info span.fa-hand-point-left{
    top: 45%;
    font-size: xx-large;
    right: 1.5vw;
    position: absolute;}
.grid-box-info:hover span.fa-hand-point-left { display:none;}
.grid-box-info:hover { margin-left: 0; }
.grid-box-info:hover button {animation: 1s pulse alternate infinite; border-bottom: #0a0a0a 2px solid;}
.grid-box-info:hover button:hover {animation:none; background-color: rgb(0, 255, 222); border-bottom: none;}
.grid-box-info p {text-align: justify;}

.native-grid.individual {grid-template-rows: 100%;grid-template-columns: 100%;}
.native-grid.individual > .sub-item-grid:not(.selected):not(.slide-transition){display: none;}
.sub-item-grid.selected > .grid-box-info {margin-left: -85%;}
.sub-item-grid.selected > .cform-container {
    background: linear-gradient(90deg,transparent 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,transparent 98%);
    pointer-events:initial;
}
.sub-item-grid.selected c-form{padding: 2.5vh 15% 2.5vh 18%;}
.grid-box-inner{
    display:none;
    position: absolute;
    top: 30vh;
    right: 2.5vw;
}
.grid-box-inner button { animation: 1s pulse alternate infinite; }
.sub-item-grid.selected .grid-box-inner{display:block;font-size:20px;}
.sub-item-grid.selected .grid-box-info > *:not(.grid-box-inner){display:none;}

.first-lvl-dd > li {
    width:       100%;
    border:      none;
    outline:     none;
    height:      7vh;
    position:    relative;
    margin-top:  1.5px;
    font-weight: bold;
}

.second-lvl-dd {
  visibility: hidden;
  top:        -1.5px;
  position:   absolute;
  transform:  translateX(calc(100% + 3px));
  width:      100%;
  opacity:    0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

ul.second-lvl-dd.last {
  transform: translateX(calc(-100% - 3px));
}

.second-lvl-dd > li {
    width:    100%;
    height:   7vh;
    border:   none;
    outline:  none;
    font-weight:  bold;
    background: #4d606f;
    margin-top: 1.5px;
}


.second-lvl-dd > li button {
  background:   transparent;
  outline:      none;
  border:       none;
  width:        100%;
  color:        white;
}

.top-lvl-dd li:hover .first-lvl-dd, .top-lvl-dd li:focus .first-lvl-dd,
.first-lvl-dd li:hover .second-lvl-dd, .first-lvl-dd li:focus .second-lvl-dd
{
  opacity: 1;
  visibility: visible;
}


/*webcomponentsjs*/
c-input,c-select,c-datepicker,c-form{
  display: block;
  font: inherit;
  padding: 0;
  margin: 0;
}

c-table {
  width: 95%; margin:auto; display: block;
}

.cform-container {
  width: 100%;
  margin: auto;
  background: rgb(191, 212, 211);
}

.cform-container c-form{
  width: 100%;
  padding: 1vh 10%;
  margin: auto;
  height: 77.5vh;
  color: #3e5561;
  --linear-gradient-color: #3e5561;
  --inputc-input-bg: #e6ecf0;
  --inputc-input-fcolor: white;
  --inputc-legend-color: #242829;
  --inputc-title-color: #0a0a0a;
  --selc-title-color: #0a0a0a;
  --selc-sel-width: 100%;
}

.sub-item-grid.selected > .cform-container c-form {
  color: #0a0a0a;
  --linear-gradient-color: #0a0a0a;
  pointer-events: none;
}


.split { width: 100%; display: table;}

.split c-input{
  width: 47.5%;
  float:left;
}

.split > div, .split button{
 width: 47.5%;
 float: left;
}

.split c-input:last-child, .split .information:last-child{
  margin-left: 5%;
}

.split c-input:first-child{ margin-left: 0; }

.split c-select{
  width: 47.5%;
  float:left;
}

.split::after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.split c-select:last-child{
  margin-left: 5%;
}

.split c-select{
  --selc-sel-width:100%;
}

.full-dd{
  --selc-sel-width:100%;
}

.linear{
  height: var(--linear-height,1px);
  border: 0;
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, var(--linear-gradient-color, black 50%), rgba(0,0,0,0) 100%);
}

.cform-btns{
  text-align: center;
  height: 6vh;
  margin: 5px;
}

.cform-btns button{
  height:   5vh;
  width:    5vh;
  border:   none;
  border-radius: 100%;
  color: white;
}

.cform-btns button:hover{
  box-shadow: 0px 0px 20px 0px #9bcdf7;
  height:   6vh;
  width:    6vh;
  animation: btnRotation 1s linear;
  font-size: large;
}

.cform-btns button:first-child{
  background: #1e9e31;
}

.cform-btns button:last-child{
  background: #bc2f1c;
}

.filtros {
  width: 100%;
  text-align: center;
}

.filtros c-tag{
  display: inline-block;
  margin-left: 1.5%;
  background: rgba(255,255,255,.25);
  border-radius: 2.5px;
  --ctag-bg-color: #021B2B;
}

div.section-list{
  width: 100%;
  height: 90vh;
  margin: auto;
  --selc-legend-color: #0a0a0a;
  --inputc-legend-color: #0a0a0a;
  --inputc-input-bg:#e6ecf0;
  --linear-gradient-color: #021b2b 50%;
}

div.section-list section:not(.selected):not(.slide-transition){
  display: none;
}

.slide-transition{
  animation: fadeOutSection .5s linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.selected{
  animation: fadeInSection .5s linear;
  animation-direction: reverse;
}

@keyframes fadeInSection {
  0% { opacity:1;   }
  25% { opacity:.75;}
  50% { opacity: .5 }
  75% { opacity: .25}
  100% { opacity: 0 }
}

@keyframes fadeOutSection {
  0% { opacity:1;   }
  25% { opacity:.75;}
  50% { opacity: .5 }
  75% { opacity: .25}
  100% { opacity: 0 }
}

div.section-list section:nth-child(odd){
  color: #00122f;
  --inputc-title-color: #00122f;
  --selc-title-color: #00122f;
  /*background: #00b4db;
  background: linear-gradient(to top, #00b4db, #0083b0);*/
}

div.section-list section:nth-child(even){
  --inputc-title-color: #041b52;
  --selc-title-color: #041b52;
  color: #041b52;
  /*background: #3a7bd5;
  background: linear-gradient(to bottom, #3a6073, #3a7bd5);*/
}

section {
  width: 100%;
  height: 100%;
  transition: opacity 5s ease-in;
  padding: 1em;
  display: flex;
  align-items: center;
}

section c-form{
  margin:auto;
}

section > c-form > form {
  min-width: 25%;
  max-width: 95%;
  margin: auto;
  border: #021b2b 1px solid;
  padding: 25px;
  background: #fff;
}

c-form[name="Pago"] > form {
  /*padding-top: 0;*/
  height: 79vh;
  margin-top: 5vh;
  overflow: auto;
}

.add-obs-div{
  height: 5vh;text-align: center;margin-top: 10px;
}

#add-obs{
    font-size: 3vh;
    height: 5vh;
    background: #e6ecf0;
    box-shadow: 1px 5px 10px -5px black;
}
#add-obs:hover{background: white;color: #4ca797; box-shadow: 0 0 0 0 transparent;}

label.title{
  font-size: var(--label-title-fsize, 3.5vh);
  font-weight: var(--label-title-fweight,400);
}

div.left-sidebar{
  background: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  top: 10vh;
  height: 90vh;
  right: 0;
  padding-right: 5px;
}

button.left-menu-btn{
  display: block;
  border-radius: 100%;
  padding: 0;
  background: #35c0c8;
  margin: 3px 1.125px;
  width: 25px;
  height: 25px;
}

button.left-menu-btn:hover{
  box-shadow: 0 0 12px 1.5px #35c0c8;
}

button.left-menu-btn.active:hover{
  box-shadow: 0 0 12px 1.5px #4286f4;
}

button.left-menu-btn.active{
  background: #4286f4;
  width: 27.5px;
  height: 27.5px;
  margin: 0;
}

button.left-menu-btn.active::after{
  color: white;
}

#next-orden,#last-orden{
  position: absolute;
  border-radius: 100%;
  border: 1.5px solid #82a1b7;
  width: 50px;
  height: 50px;
  background-color: rgb(2, 28, 43);
  color: #fff;
  font-size: 32px;
}

#last-orden{
  top:4vh;
  left:calc(50vw - 25px);
}

#next-orden{
  top:80vh;
  left:calc(50vw - 25px);
}

@keyframes btnRotation {
  0%  { transform: rotate(0deg); box-shadow: 0 0 0 0 #021b2b; }
  50% { transform: rotate(180deg); box-shadow: 0 0 0 12.5px rgba(2, 27, 43,0.5);}
  100% { transform: rotate(360deg); box-shadow: 0 0 0 25px transparent; }
}

#next-orden:hover,#last-orden:hover{
    background-color: rgb(171, 217, 239);
    color: #021c2b;
    border-color: #021c2b;
    animation: btnRotation .5s linear;
}

textarea {
  border-radius: 5px;
  border: 1px solid #021b1c;
  resize: none;
  overflow: auto;
  width: 99.5%;
  margin: 0 1vh;
  outline: none;
  box-shadow: 0px 9px 20px -10px black;
}

div.radiogroup {
  font-size: 1em;
  padding: 4.245px 7.5px;
  margin-left: 1vh;
  font-family: inherit;
  height: 5vh;
  width: 100%;
  background: #e6ecf0;
  box-shadow: 0px 9px 20px -10px black;
  text-align: center;
}

div.radiogroup > * {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  margin: 0;
}

div.radiogroup > label {
  font-size: 2vh;
  color: #022021;
  margin-right: 0.75vw;
}


#orden-submit{
  width: 40%;
  display: block;
  height: 10vh;
  margin: 0vh auto 0 auto;
  background-image: linear-gradient(to right, #4286f4 0%, #35c0c8 50%, #4286f4 100%);
  background-size: 200% auto;
  color: #e7e8e8;
  transition: 1s;
  font-size: 20px;
  box-shadow: 0px 9px 20px -10px black;
}

#orden-submit:hover{
  background-position: right center;
  font-size: 24px;
}

#close-orden{
  position: absolute;
  top: 0;
  border-radius: 100%;
  background: rgba(1, 22, 25, 0.4);
  left: calc(2.5% + 10px);
  font-weight: bolder;
  font-size: 36px;
  margin: 0.5% 0.5% 0 0;
  padding: 0 1px 5px 0;
  width: 40px;
  height: 40px;
}

#close-orden:hover { background: rgba(1, 22, 25, 1); }

.information{
  width: 47.5%;
  padding: 0;
  margin:0;
  float:left;
}


.information > label{
  display: block;
}

.information > button{
  height: 5vh;
}

.information > label + label{
  text-align: center;
  font-weight: bolder;
  width: 100%;
  color: #283a52;;
  background: #e6ecf0;
  border: 2px solid transparent;
  height: 5vh;
  font-size: 3vh;
  margin-left: 1vh;
  box-shadow: 0px 9px 20px -10px black;
}

.refraction-form{
  width: 100%;
  height: 100%;
}

.asc-container{
  width: 100%;
  margin: 0.75vh auto;
  background: #021c2b;
  height: 30vh;
}

.asc-form{
  float: left;
  width: 90%;
}

.odos-dist {
    width: 10%;
    height: 30vh;
    color: white;
    background: transparent;
    display: block;
    float: left;
}

.odos-dist > label{
    display: block;
    height: 12.5vh;
    font-size: 4vh;
    text-align: center;
    padding-top: 4vh;
    box-sizing: border-box;
    border: 1px solid;
    border-color: white white transparent transparent;
}

 .pa-dist > label, .dp-dist > label{
   border: 1px solid;
   border-color: white white transparent transparent;
 }

.odos-dist > label:first-child{
  margin-top: 5vh;
}

.asc-container::after {
    content: "";
    display: block;
    clear: both;
}

div.asc-far {
  height: 12.5vh;
  font-size: 3vh;
}

.asc-far span { display: inline-block; height: 100%; margin-left: 4.5%;width: 22%;}

.asc-far input, .pa-form input, .dp-oslejoscerca input { width: 100%; border: 2px solid #252424; }

.asc-far label {
    text-align: center;
    width: 150px;
    font-weight: bolder;
    color: #07233e;
}

div.asc-titulos{height: 5vh;}

.asc-titulos > label:first-child {
    margin-left: calc(2.5% + 150px);
}

.asc-titulos > label {
    width: 25%;
    font-size: 4vh;
    color: #fff;
    text-align: center;
    margin-left: 2.5%;
}

.asc-far c-form { border-top: 1px solid white; height: calc(100% / 2);}
.asc-far c-form > div{ padding-top: 2.5px; height: 100%;}
.asc-far c-form:nth-child(odd), .dp-oslejoscerca c-form:nth-child(odd),.pa-form c-form:nth-child(odd){
   background: #bac8d0;
 }
.asc-far c-form:nth-child(even),.dp-oslejoscerca c-form:nth-child(even),.pa-form c-form:nth-child(even){
  background: #99AEBB;
}

.onoffswitch { position: relative; width: 90px; display: inline-block;}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #FC5353; border-radius: 30px;
    background-color: #FC5353;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 60px;
    border: 2px solid #FC5353; border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #00CCFF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #00CCFF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {right: 0px;}

.switchbtn {
    text-align: right;
    position: absolute;
    top: 3vh;
    right: 2.5vw;
}

.switchbtn label {vertical-align: top; font-size: 3.5vh; font-weight: 400; color: #021b2b;}

.padp-form {
    width: 100%;
    height: 20vh;
    background: #021c2b;
    margin: 2.5vh auto;
}

.padp-form::after, .pa-container::after,.dp-container::after{
    display:block;
    content:"";
    clear:both;
}

.padp-form > div {
    height: 100%;
    display: inline-block;
    float: left;
}

.pa-container {
    width: 70%;
}

.pa-container > div,.dp-container > div{
    display:inline-block;
    height:100%;
    float:left;
}

.dp-container {
    width: 30%;
}

.pa-dist {
    height: 100%;
    width: 14%;
    color:white;
    font-size:5vh;
}

.pa-dist label, .dp-dist label{
    height: 7.5vh;
    display: block;
    text-align: center;
}

.pa-dist label:first-child, .dp-dist label:first-child{
    margin-top: 5vh;
}

.pa-titulos{ height: 5vh; font-size: 4vh;color: #fff;}

.pa-titulos label {
    width: 49%;
    text-align: center;
}

.pa-form {width: 86%;}

.pa-form c-form{
    width:100%;
    height:7.5vh;
    border-top:1px solid white;
    box-sizing: border-box;
}

.pa-form c-form > div{
    padding-top:1vh;
    height: 100%;
    width: calc(50% - 5px);
    display:inline-block;
    text-align:center;
}

.pa-form c-form > div > input, .pa-form c-form > div > select, .dp-oslejoscerca input{
    width: 40%;
    margin-right: 2.5%;
    font-size: 3vh;
    height: 5vh;
}

 .dp-dist {
     width: 30%;
     height: 100%;
     font-size: 4vh;
     color: white;
 }

.dp-form {
     width: 70%;
 }

.dp-titulos label,.dp-titulos{
  width: 100%;
  height: 5vh;
  font-size: 4vh;
  color: #fff;
  text-align: center;
}


.dp-oslejoscerca c-form,.dp-oslejoscerca{
    height: 15vh;
    text-align: center;;
}


.dp-oslejoscerca div {
    height: 7.5vh;
    padding-top: 10px;
    border-top:1px solid white;
}

.dp-oslejoscerca input{
  width: 50%;
}

.pa-osd{
  border-right: 1px solid white;
}


.cs_h1rf > form{
  overflow: auto;
  max-height: 70vh;
  position: relative;
  padding: 0px 25px;
  width: 95vw;
}

.cs_h1rf > form textarea{
  height: 15vh;
  font-size: 3vh;
}

c-form .filtros {
  margin-top:1vh;
}

/*PRUEBAS FORMS*/
.form-render-container{
  height: 75vh;
  overflow: auto;
  margin: 2.5vh auto;
  padding: 0;
  position: absolute;
  background: #ffffff;
  width: 95vw;
  left: 2.5vw;
  top: -75vh;
  visibility: hidden;
  opacity: 0;
  border:1px solid #8C8B8F;
  --inputc-legend-color:black;
  --inputc-title-color:#021c2b;
    transition: top .5s linear, opacity  1s ease-in-out, visibility  1s ease-in-out;
}

.refraction > label:nth-child(odd){
  padding: 0 10px 0 25px;
  font-size: 2.9vh;
  color: #345e73;
}

.ordenes{
  left: 2.5%;
  position: absolute;
  top:6vh;
  transition: top .5s linear, opacity  1s linear, visibility  1s linear;
}

.ordenes-hidden{
  top:80vh;
  visibility: visible;
  opacity: 0;
}

.down-transition{
  top:6vh;
  visibility: visible;
  opacity: 1;
}

#form-render-edit-btn{
  background: #068488;
  color: #ffffff;
  width: 100%;
}

#form-render-submit-btn,#abono-save{
  background: #3a6784;
  color: #fff;
}

#form-render-ecancel-btn,#abono-cancel{
  color: white;
  background: #ff3f3f;
  margin-left: 5%;

}
#abono-save,#abono-cancel {
  height: 8vh;
  font-size: x-large;
  margin-top: 4vh;
  transition: 1s;
  box-shadow: 0px 8px 15px -5px #04131f;
}

#form-render-edit-btn, #form-render-submit-btn, #form-render-ecancel-btn{
  box-shadow: 0px 8px 15px -5px #04131f;
  font-size: medium;
  transition: 1s;
}

#form-render-edit-btn:hover, #form-render-submit-btn:hover, #form-render-ecancel-btn:hover,
#abono-save:hover,#abono-cancel:hover{
  box-shadow: 0px 0px 0px 0px transparent;
  font-size: large;
}

#abono-orden-form{
  margin: auto;
  width: 95%;
  margin-top:9vh;
}

div.refraction {
  background-color: #e6ecf0;
  border: 1px solid #c6c6c6;
  margin-top: 1vh;
  padding-top: 1vh;
  height: 7vh;
}

.form-render-container.down-transition > button.close{
  margin: 0.5% 0.5% 0 0;
  position: absolute;
  right: 0;
  border-radius: 100%;
  background: #dcdce6;
  height: 40px;
  width: 40px;
  padding: 0 1px 5px 0;
}

.obs-box{
  display:inline-flex;
  overflow: auto;
  height:4vh;
  padding: 0;
  width: 43vw;
}

#client-refraction form.refraction-wrapper { height: auto; }
form.refraction-wrapper > div:not(.selected){ display:none; }
.refraction > label:nth-child(odd) {padding-left: 10px;}
.form-render-container .cs_h1rf{ width:100%; background-color: azure; }

c-form.edit-refraction {height: 25vh;
border: 1px solid black;
background-color: #a2b1b7;}

.square-checkbox-btn{
  height: 20px;
  width: 20px;
  margin-left: 20px;
  background-color: white;
  border: #3a697d 1.5px solid;
  cursor: pointer;
}

.square-checkbox-btn.active{background-color: #ff3f3f;border-color: #ff3f3f; }
.refraction.selected { position: absolute; margin-bottom: 10px; height: auto; }
#client-refraction form {
  height: 17vh;
  padding: 0 5px;
  margin: -1vh 25px 0;
  overflow: auto;
  background: #dadada;
}
#client-refraction form button[type="submit"], #new-abono{
  box-shadow: 0px 8px 15px -5px #04131f;
  width: 50%;
  margin-top: 2vh;
  background-image: linear-gradient(to right, #4286f4 0%, #35c0c8 50%, #4286f4 100%);
  height: 10vh;
  margin-left: 25%;
  font-size: x-large;
  transition: 1s;
}

#new-abono{
  width: 30%;
  height: 10vh;
  float: right;
  display: block;
  margin: -15vh 100px 0 50px;
}

#client-refraction form button[type="submit"]:hover,#new-abono:hover {
  box-shadow: 0px 0px 0px 0px transparent;
  font-size: xx-large;
  color: #4a354a;
}

.ordenes-static-info{
  margin:auto;
  width: 95%;
}

.ordenes-static-info > label:nth-child(odd){
  font-size: 5vh;
  color:#021B2B;
  text-transform: uppercase;
}

.ordenes-static-info > label:nth-child(even){
  font-size: 4.5vh;
  color:#ff3f3f;
}

.orden-info-grid label:nth-child(even){ color:#467b7d; width: 30%; font-size: 2.25vh; vertical-align: top;padding-top: 5px;}
.orden-info-grid label:nth-child(odd) { width: 10%; font-size: 3vh; text-transform: capitalize; vertical-align: top;}
.orden-info-grid label:nth-child(4n+4){ width: 49%; }
.orden-info-grid .obs-box > label,.orden-info-grid .obs-box > textarea {
    width: 100%;
    text-transform: initial;
    font-size: 2.25vh;
    padding: 0;
    color: #345e73;
}


.abono-info{
  overflow:auto; height:17vh; width:60%; float:left;
}


/*EXTRAS DE OPTICA Y EMPLEADO PARA FOTOS*/
.split-cell{
  display:grid;
  grid-template-columns: 29% calc(71% - 2.5px);
  grid-column-gap: 2.5px;
  background: #e6ecf0;
}
.split-cell div { background: #ffffff; }
.form-info{ padding: 25px; }
.portfolio{ text-align: center; font-size: 4vh; padding-top: 50%; }
.portfolio > * { transform: translateY(-50px);}
.portfolio img { width: 300px;height: 300px; box-shadow: black 0px 0px 1px 1px; border-radius: 100%;}
