<h3>INFORMACIÓN DE RECETA</h3>
<hr class="colorgraph">
    <form>
    <div class="row">
        <div class="row ojo">
            <div class="col-md-1 col-md-offset-5">
                <label>LEJOS</label>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label class="formlabel title">O.D.</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" >Esfera</span>
                            <input type="text" class="form-control"  value="0.00" id="lejos-esf-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up" ></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon" >Eje</span>
                            <input type="text" class="form-control"  value="0" id="lejos-eje-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus int fa fa-angle-up" ></button>
                                <button type="button" class="plus-minus int fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">Cilindro</span>
                            <input type="text" class="form-control"  value="0.00" id="lejos-cil-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up" ></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label class="formlabel title">O.S.</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" >Esfera</span>
                            <input type="text" class="form-control"  value="0.00" id="cerca-esf-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon" >Eje</span>
                            <input type="text" class="form-control"  value="0" id="cerca-eje-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus int fa fa-angle-up"></button>
                                <button type="button" class="plus-minus int fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">Cilindro</span>
                            <input type="text" class="form-control"  value="0.00" id="cerca-cil-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ojo">
            <div class="col-md-1 col-md-offset-5">
                <label>CERCA</label>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label class="formlabel title">O.D.</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" >Esfera</span>
                            <input type="text" class="form-control"  value="0.00" id="cerca-esf-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon" >Eje</span>
                            <input type="text" class="form-control"  value="0" id="cerca-eje-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus int fa fa-angle-up" ></button>
                                <button type="button" class="plus-minus int fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">Cilindro</span>
                            <input type="text" class="form-control"  value="0.00" id="cerca-cil-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up" ></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="col-md-1">
                        <label class="formlabel title">O.S.</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" >Esfera</span>
                            <input type="text" class="form-control"  value="0.00" id="lejos-esf-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon" >Eje</span>
                            <input type="text" class="form-control"  value="0" id="lejos-eje-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus int fa fa-angle-up"></button>
                                <button type="button" class="plus-minus int fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">Cilindro</span>
                            <input type="text" class="form-control"  value="0.00" id="lejos-cil-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row ojo">
            <div class="col-md-1 col-md-offset-5">
                <label>PRISMAS</label>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1 col-md-offset-1">
                        <label class="formlabel title">O.D.</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" >Esfera</span>
                            <input type="text" class="form-control"  value="0.00" id="prismas-od" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 col-md-offset-1">
                        <label class="formlabel title">O.S.</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" >Esfera</span>
                            <input type="text" class="form-control"  value="0.00" id="prismas-oi" required>
                            <span class="input-group-addon pm">
                                <button type="button" class="plus-minus fa fa-angle-up"></button>
                                <button type="button" class="plus-minus fa fa-angle-down" ></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ojo">
            <div class="col-md-4 col-md-offset-1">
                <label class="formlabel">
                    Distancia Pupilar
                </label>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="input-group">
                    <span class="input-group-addon" >Distancia Pupilar</span>
                    <input type="text" class="form-control"  value="0" id="dist_pupilar" required>
                    <span class="input-group-addon pm">
                        <button type="button" class="plus-minus int fa fa-angle-up"></button>
                        <button type="button" class="plus-minus int fa fa-angle-down" ></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row ojo">
            <div class="col-md-4 col-md-offset-1">
                <label class="formlabel">
                    Observaciones
                </label>
            </div>
            <div class="col-md-6">
                    <textarea rows="3" cols="60" id="observaciones" class="form-control" required></textarea>
            </div>
        </div>
    <!-- fin contenido -->
    </div>
<hr class="colorgraph" style="height:25px;">

<h3>INFORMACIÓN DEL LENTE</h3>
<hr class="colorgraph">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <label class="formlabel">MATERIAL</label>
            <datalist id="materiales">
              <option value="Policarbonato">
              <option value="Plástico">
              <option value="Vidrio">
              <option value="Futurex">
            </datalist>
            <label>Elegir un material:
            <input list="materiales" name="MaterialList" style="color:#000;"/></label>
        </div>
        <div class="col-md-4 col-sm-4">
            <label class="formlabel">TIPO</label>
            <div class="form-group">
                <input name="tipolente" type="radio" class="with-gap" id="radio1" required>
                <label for="radio1">Option 1</label>
                <input name="tipolente" type="radio" class="with-gap" id="radio2" required>
                <label for="radio2">Option 2</label>
                <input name="tipolente" type="radio" class="with-gap" id="radio3" required>
                <label for="radio3">Option 3</label>
                <input name="tipolente" type="radio" class="with-gap" id="radio4" required>
                <label for="radio4">Option 4</label>
                <input name="tipolente" type="radio" class="with-gap" id="radio5" required>
                <label for="radio5">Option 5</label>
                <input name="tipolente" type="radio" class="with-gap" id="radio6" required>
                <label for="radio6">Option 6</label>
            </div>
        </div>
        <div class="col-md-4">
            <label class="formlabel">COLOR</label>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" required>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Check this custom checkbox</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" required>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Check this custom checkbox</span>
                </label>
            </div>
        </div>
        <div id="material-tags" class="container">

        </div>
    </div>
    <div class="container next-prev"  >
        <button type="button" class="btn pull-right next-step" data-toggle="btn-tooltip" data-placement="top" title="Guardar y seguir a lentes y graduación">
            <span>
                <i class="fa fa-angle-double-right"></i>
            </span>
        </button>
        <button type="button" class="btn pull-right prev-step" data-toggle="btn-tooltip" data-placement="top" title="Regresar a info. cliente">
            <span>
                <i class="fa fa-angle-double-left"></i>
            </span>
        </button>
    </div>
</form>