<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Toda la info de que se agrupará -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li><a href="#">Graficas <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-area-chart"></span></a></li>
				<li ><a href="#">Algo individual<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestionar <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#"><span class="fa fa-users fa-pull-right"></span>Usuarios</a></li>
						<li class="divider"></li>
						<li><a href="{% url 'admin-inventario'%}"><span class="fa fa-flask fa-pull-right"></span>Laboratorios</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="fa fa-eye-slash fa-pull-right"></span>Lentes</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="glyphicon glyphicon-registration-mark fa-pull-right"></span>Marcas</a></li>
						<li class="divider"></li>
						<li><a href="#"><span class="glyphicon glyphicon-sunglasses fa-pull-right"></span>Aros</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
